@import "./components/radios.css";
@import "./components/botones.css";
@import "./components/inputs.css";
@import "./components/listas.css";


.main {
    display: flex;
    flex-direction: row;
}
.seccion-crear-categoria {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #E2E2E2;
    margin: 8px;
    padding: 8px 8px;
    border-radius: 16px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}

.iconos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.resumen-categorias {
    width: 70%;
}

.color-categoria {
    margin-top: 16px;
    margin-bottom: 16px;
}

.verde {
    background: green;
}

.rojo {
    background: red;
}

.gris {
    background: grey;
}

.celeste {
    background: lightblue;
}

.azul {
    background: blue;
}

.violeta {
    background: violet;
}
