/* Sección Edición de gastos */
.popup-editar {
  display: none;          /* oculto por defecto */
  position: fixed;        /* lo saca del flujo de la página */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgb(255, 255, 255);
  padding: 20px;
  border: 1px solid black;
  z-index: 1000;
}

.popup-activo{
  display: flex; /* solo lo muestra una vez q se toca el boton de editar */
}

#formulario-edicion { /* caracteristicas de estilo del formulario */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

