.nombre-categoria-texto {
    display: inline-block;
    position: relative;
    width: 80%;
    }

.texto {
    width: 80%;
    padding-left: 30px;
    height: 30px;
}


.texto-gris {
    background: #C6C6C7;
    border: none;
}
.icono-texto {
    position: absolute;
    left: 4px;
    top: 0px;
    font-size: 20px;
}
