.lista-categorias {
    height: 50%;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.item-lista {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space-s);
    list-style-type: none;
    margin-left: var(--space-xs);
    width: 97%;
    background-color: #E2E2E2;
}

.item-lista:hover{
    transform: scale(1.05);
    transition: 0.7s;
}
.nombre-categoria {
    flex: 1;
    margin: 0 var(--space-xs);
}

.input-lista {
    appearance: none;
    border:none;
    background: none;
    width: 100%;
    font-weight: bold;
    height: 100%;
    box-sizing: border-box;
    font-size: 40px;
}

.input-lista:focus{
    outline: none;
    border-bottom: 1px solid white;
}

.icono-lista {
    padding: var(--space-xs);
    font-size: 40px;
}

@media screen and (max-width: 760px) {
    .icono-lista {
        font-size: 20px;
    }

    .input-lista {
        font-size: 20px;
    }
    
    .lista-categorias {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: var(--space-s);
    }
}

